body.home {
    background-image: url('guitargod.jpg');
    background-repeat: repeat-y;
    background-position: center center;
}

.jumbotron{

    margin: 120px 180px;
    width: 725px;
    background-image: url('guitar.jpg');
    background-repeat: repeat-y;
    opacity: 0.8; 
    
    box-shadow: 2px 2px  5px black;
}

